In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import strategy.trendlabeling as tlb
import numpy as np
import datetime

import getdata as gd
import afml.filters as flt 
from afml.util.volatility import getDailyVolatility
import features.bars as bars

1. Import Dataset

In [2]:
df_yf = gd.get_yf_data(tickers= "SPY AAPL ALGM DNOW META", 
                    period='1y',   
                    interval='1d')

[*********************100%***********************]  5 of 5 completed

In [3]:
df = df_yf[df_yf['Ticker'] == 'ALGM']

In [4]:
df.tail()

,Ticker,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,,
2023-03-06,ALGM,45.349998,45.349998,46.903999,45.180000,45.779999,1645300
2023-03-07,ALGM,45.250000,45.250000,45.799999,44.689999,45.150002,1381800
2023-03-08,ALGM,46.029999,46.029999,46.290001,45.340000,45.490002,1183000
2023-03-09,ALGM,45.220001,45.220001,47.669998,44.970001,46.639999,2051700
2023-03-10,ALGM,44.060001,44.060001,45.560001,43.619999,45.490002,1510300

2. Form Dollar Bars

In [5]:
_df = df.reset_index()
_df = _df[['Open', 'High', 'Low', 'Adj Close', 'Date', 'Volume']]
_df.columns = ['close', 'high', 'low', 'open', 'time', 'vol']
_df.time = pd.to_datetime(_df.time, format="%Y-%m-%dT%H:%M:%S.%fZ") 
df_dict = _df.to_dict('records')

In [6]:
# threshold calculation 
# sample about 10 times a month 

# get average monthly volume
_ = df.groupby(pd.Grouper(freq='M'))['Volume'].sum()
avg_m_vol = _.replace(0, np.NaN).mean()/np.count_nonzero(_)

#get threshold
threshold = avg_m_vol/2

In [7]:
_, avg_m_vol, threshold

(Date
 2022-03-31     7170300
 2022-04-30    10324200
 2022-05-31    14909200
 2022-06-30    14000600
 2022-07-31     9158300
 2022-08-31     8378400
 2022-09-30    12757900
 2022-10-31    13790100
 2022-11-30    19877400
 2022-12-31    34084500
 2023-01-31    27761200
 2023-02-28    33944900
 2023-03-31    11493600
 Freq: M, Name: Volume, dtype: int64,
 1287873.372781065,
 643936.6863905325)

In [9]:
#create bars    
dollar_bars = bars.get_dollar_bars(df_dict, threshold, interval='day') 

#create dataframe
df_dollarbar = pd.DataFrame(dollar_bars)

#view first ten entries
df_dollarbar.tail(30)

     timestamp       open       high        low      close
221 2023-01-27  35.389999  35.849998  34.779999  35.430000
222 2023-01-30  34.430000  35.419998  34.180000  34.950001
223 2023-01-31  38.169998  38.560001  34.000000  36.884998
224 2023-02-01  39.680000  39.970001  38.049999  38.400002
225 2023-02-02  41.099998  41.590000  38.700001  39.000000
226 2023-02-03  41.560001  41.939999  40.110001  40.160000
227 2023-02-06  41.220001  41.980000  40.299999  40.855000
228 2023-02-07  42.840000  42.959999  40.950001  41.340000
229 2023-02-08  42.540001  43.049999  42.230000  42.580002
230 2023-02-09  42.700001  44.095001  42.529999  43.480000
231 2023-02-10  42.730000  43.189999  42.029999  42.230000
232 2023-02-13  43.680000  44.150002  42.650002  43.099998
233 2023-02-14  44.630001  44.980000  42.910000  43.299999
234 2023-02-15  45.919998  45.985001  43.555000  44.049999
235 2023-02-16  45.029999  45.247002  44.486000  45.150002
236 2023-02-17  44.500000  45.099998  43.869999  44.770000
237 2023-02-21  42.880001  44.576000  42.700001  43.700001
238 2023-02-22  43.040001  43.590000  42.616001  42.810001
239 2023-02-23  43.790001  45.080002  42.820000  44.830002
240 2023-02-24  43.230000  43.540001  42.700001  42.900002
241 2023-02-27  42.930000  44.000000  42.860001  43.889999
242 2023-02-28  43.680000  44.610001  42.930000  42.930000
243 2023-03-01  43.770000  44.779999  43.639999  43.970001
244 2023-03-02  44.180000  44.490002  42.180000  42.880001
245 2023-03-03  45.400002  45.665001  43.959999  44.330002
246 2023-03-06  45.349998  46.903999  45.180000  45.779999
247 2023-03-07  45.250000  45.799999  44.689999  45.150002
248 2023-03-08  46.029999  46.290001  45.340000  45.490002
249 2023-03-09  45.220001  47.669998  44.970001  46.639999
250 2023-03-10  44.060001  45.560001  43.619999  45.490002

3. Run cusum filter to get std dev of daily returns at equal threshold

In [ ]:
#to do

4. Add vertical barrier

In [ ]:
#to do

5. Apply Triple Barrier method where ptSl = [2,1]  (2 to 1 profit ratio)

In [ ]:
#to do

6. Generate label using getBins

In [ ]:
#to do

7. Drop underpopulated labels (snippet 3.8)

In [ ]:
#to do

8. Adjust getBins to 0 if vertical barrier is touched first

In [ ]:
#to do

9. Apply strategy here to suggest the side, not the bet
    
    9.1 Trendlabeling

    9.2 Mean Reverting BB

In [ ]:
#to do

10. Train model to decide trade or not trade since step 9 already decided a side (up or down)

    10.1 Random Forest

    10.2 SVC

In [ ]:
#to do

11. Compare model with or without Secondary Model

In [ ]:
# to do